
# ENDPOINT_URL is used by cli to fetch items such as movies from the server.
# Change the value of this line to point to the server where the database is running
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
ENDPOINT_URL=http://192.168.254.184:9000

# LOCAL_DB_URL is used by cli to fetch and cache items to the server in order to boost
# performance (Speed).
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
LOCAL_DB_URL=sqlite://tangotvcli.db